@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F5F5F5;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h1, p {
    font-family: "Poppins", "sans-serif";
}

canvas {
    border-radius: 7px;
    border: 1px solid #DADADA;
}

.header {
    text-align: center;
}

.outer {
    /* position: absolute; */
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px #DADADA;
}

.container {
    display: flex;
    justify-content: center;
}
